<nav class="navbar">
  <div class="navbar__top">
    <input type="text" placeholder="Pikachu..." />

    <ul class="top__icon">
      <% if (locals.isLogged) { %>
      <p><%= locals.userLogged.name %></p>
      <a href="/users/logout"><i class="fa-solid fa-user-large-slash"></i></a>
      <a href="/users/profile"><i class="fa-solid fa-user-astronaut"></i></a>
      <% } else { %>
      <a href="/users/register"><i class="fa-solid fa-user-plus"></i></a>
      <a href="/users/login"><i class="fa-solid fa-user-lock"></i></a>
      <% } %>
    </ul>
  </div>
  <div class="navbar__bottom">
    <a href="/">
      <img class="navbar__logo" src="/images/printall.png" alt="Logo" />
    </a>
    <ul class="navbar__links">
      <li><a href="https://facebook.com">3d Models</a></li>
      <li><a href="https://facebook.com">Store</a></li>
      <li><a href="https://facebook.com">Brand</a>s</li>
      <li><a href="https://facebook.com">Blogs</a></li>
    </ul>
  </div>
</nav>
