main {
  margin: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

main img {
  width: 400px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn__update {
  background-color: orange;
}

.btn__delete {
  background-color: rgb(255, 47, 0);
}
