<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- Main -->
    <main>
      <h1>Nuevo Producto</h1>

      <form action="/products/add" method="post" enctype="multipart/form-data">
        <div>
          <label for="name">Nombre</label>
          <input type="text" name="name" id="name" placeholder="Vaso 500ML" />
        </div>

        <div>
          <label for="descripcion">Descripcion</label>
          <textarea
            name="description"
            id="descripcion"
            placeholder="Impreso en PLA multicolor..."
          ></textarea>
        </div>

        <div>
          <label for="category">Categoria</label>
          <select name="category" id="category">
            <option selected disabled>Selecciona una opcion</option>
            <option value="hogar">Hogar</option>
            <option value="geek">Geek</option>
            <option value="figuras">Figuras</option>
            <option value="soportes">Soportes</option>
          </select>
        </div>

        <div>
          <label for="colors">Color</label>
          <select name="colors" id="colors">
            <option selected disabled>Selecciona una opcion</option>
            <option value="#ffffff">Blanco</option>
            <option value="#2dc548">Verde</option>
            <option value="#ff2d00">Rojo</option>
            <option value="#eaf500">Amarillo</option>
            <option value="#1300f5">Azul</option>
          </select>
        </div>

        <div>
          <label for="filament">Filamento</label>
          <select name="filament" id="filament">
            <option selected disabled>Selecciona una opcion</option>
            <option value="pla">PLA</option>
            <option value="tpu">TPU</option>
            <option value="abs">ABS</option>
          </select>
        </div>

        <div>
          <label for="image">Imagen</label>
          <input type="file" id="image" name="image" accept="image/*" />
        </div>

        <div>
          <label for="size">Tamaño</label>
          <select name="size" id="size">
            <option selected disabled>Selecciona una opcion</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
        </div>

        <div>
          <label for="price">Precio</label>
          <input type="number" name="price" id="price" />
        </div>

        <div>
          <label for="available">Disponible</label>
          <input type="checkbox" name="available" id="available" />
        </div>

        <button type="submit">Crear</button>
      </form>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
